{
  "root": true,
  "extends": ["@unyu"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-void": "off",
    "no-throw-literal": "off",
    "@typescript-eslint/member-delimiter-style": "off"
  }
}
